body,html{
    height: 100%;
}

.father{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.box{
    background: red;
    width: 200px;
    height: 200px;
}